body {
    
    font-family: 'Patua One', cursive;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: black;
}

.word {
    font-weight: bold;
    color: blue;
}

.boxes {
    display: block;
    margin: 1m;
    padding: 20px;
    border: 2px solid rgba(162, 34, 34, 0.687); 
    border-radius: 25px;
    width: 30em;
}

#box-a {
    background-color: rgba(12, 12, 230, 0.502);
}

#box-b {
    background-color: gold;
}

#box-c {
    background-color: rgba(60, 191, 60, 0.468);
}

#box-d{
        background-color: rgba(191, 138, 40, 0.516);
}

.imgs {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: green;
    position: relative;
    top: 3em; bottom: 0em; left: 4em;
}

h1 {
    color: blue;
}

.original {
    color: crimson;
}

.additional {
    color: darkcyan;
}

ul {
    color: darkred;
}

.star{
    color: darkslategrey;
}

#wars{
    color: forestgreen;
}

.fun {
    border-style: solid;
    border-radius: 2px;
    border-color: black;
}